<!-- footer.ejs -->
<footer>
    <div class="div-terminos" id="pie">
        <span>Todos los derechos reservados © <%= currentYear %></span> <!--Derechos reservados dinamicos para el año actual de consulta de la pagina web-->
    </div>
</footer>
